html {
  box-sizing: border-box;
}

*, *::before, *::after {
  box-sizing: inherit;
}

body {
  margin: 0em;
  font-family: 'Contrail One', cursive;
}

h2{
  text-align: center;
  color: white;
  background-color: #19212F;
  font-size: 2rem;
  padding: 0.5em;
  margin: 0;
  box-shadow: inset 0 3px 6px rbga (0,0,0 0.7);
}

.left{
  width:125px;
  padding: 0;
  position: absolute;
  left: 2.2em;
  transition: all 200ms linear;
}

.right{
  width: 125px;
  transition: all 200ms linear;
  margin-top: 0;
  position: absolute;
  right: 2.2em;
}

.brain{
  width: 46px;
  transition: all 200ms linear;
  position: absolute;
  left: 8.5em;
  top: 4em;
}

.body{
  width: 320px;
  display: block;
  margin: 0 auto;
  padding-top: 37px;
}

header {
  background-color: #2C3950;
  text-align: center;
}

.robot:hover .right {
right: 1em;
}

.robot:hover .left {
left: 1em;
}

.robot:hover .brain {
top: 1em;
}

.robot {
position: relative;
width: 320px;
margin: 0 auto;

}
